.tool-versions
tags
.*.swp
.vs/
.vscode/*
!/.vscode/rbxp.code-snippets
ipch/
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.suo
*.dmp
*.pyc
*.sym
*.csproj.user
*.vcxproj.user
*.args.json
.idea
.DS_Store
*.sublime-project
*.sublime-workspace
*.obj
*.idb
*.iml
*.map
*.tlog
*.lastbuildstate
*.tss
*.ib_pdb_index
*.pdb
*.log
*.ilk
*.exp
*.pri
*.resfiles
*.intermediate
*.hprof
*.hmap
*.d
*.dia
*.o
*.so
*.dylib
*.dll
*.exe
*.LinkFileList
*.dat
*.rbxl.lock
*.rbxlx.lock
CMakeFiles
CMakeCache.txt
roblox.yml